---
import type { CollectionEntry } from "astro:content";
import AstroPagination from "@components/core/_astro/AstroPagination.astro";

type Props = {
  title: string;
  entries: CollectionEntry<"art" | "blog" | "wiki">[];
  currentPage: number;
  totalPages: number;
  baseUrl: string;
};

const { title, entries, currentPage, totalPages, baseUrl } = Astro.props;
---

<div class="grid gap-4">
  <h1>{title}</h1>
  <ul class="grid grid-flow-row gap-2">
    {
      entries.map((entry) => (
        <li>
          <a href={`/${entry.collection}/${entry.id}/`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ul>

  <AstroPagination
    currentPage={currentPage}
    totalPages={totalPages}
    baseUrl={baseUrl}
  />
</div>
