---
import type { CollectionEntry } from "astro:content";
import AstroPagination from "@components/core/_astro/AstroPagination.astro";

type Props = {
  title: string;
  entries: CollectionEntry<"art" | "blog" | "wiki">[];
  currentPage: number;
  totalPages: number;
  prevUrl?: string;
  nextUrl?: string;
  baseUrl: string;
};

const { title, entries, currentPage, totalPages, prevUrl, nextUrl, baseUrl } =
  Astro.props;
---

<h1>{title}</h1>
<ul>
  {
    entries.map((entry) => (
      <li>
        <a href={`/${entry.collection}/${entry.id}/`}>{entry.data.title}</a>
      </li>
    ))
  }
</ul>

<AstroPagination
  currentPage={currentPage}
  totalPages={totalPages}
  prevUrl={prevUrl}
  nextUrl={nextUrl}
  baseUrl={baseUrl}
/>
