---
import { getPaginationRange } from "@lib/pagination";
import {
  Pagination,
  PaginationContent,
  PaginationEllipsis,
  PaginationItem,
  PaginationLink,
  PaginationNext,
  PaginationPrevious,
} from "@components/core/pagination";
import { getPageUrl } from "@lib/url";
import { SUPPORTED_LOCALES, translations } from "@i18n/labels";

type Props = {
  baseUrl: string;
  currentPage: number;
  totalPages: number;
};

const { baseUrl, currentPage, totalPages } = Astro.props;

const range = getPaginationRange(currentPage, totalPages);

const prevUrl =
  currentPage > 1 ? getPageUrl(baseUrl, currentPage - 1) : undefined;
const nextUrl =
  currentPage < totalPages ? getPageUrl(baseUrl, currentPage + 1) : undefined;

const prevLabels = JSON.stringify(
  Object.fromEntries(
    SUPPORTED_LOCALES.map((l) => [l, translations[l]?.previous ?? "Previous"]),
  ),
);
const nextLabels = JSON.stringify(
  Object.fromEntries(
    SUPPORTED_LOCALES.map((l) => [l, translations[l]?.next ?? "Next"]),
  ),
);
---

{
  totalPages > 1 && (
    <Pagination>
      <PaginationContent>
        <PaginationItem>
          {prevUrl ? (
            <PaginationPrevious
              href={prevUrl}
              text="Previous"
              textLocales={prevLabels}
            />
          ) : (
            <span
              class="inline-flex h-8 items-center gap-1.5 px-2.5 text-sm opacity-50"
              data-locales={prevLabels}
            >
              Previous
            </span>
          )}
        </PaginationItem>

        {range.map((item, index) =>
          item === "ellipsis" ? (
            <PaginationItem key={`ellipsis-${index}`}>
              <PaginationEllipsis />
            </PaginationItem>
          ) : (
            <PaginationItem key={item}>
              <PaginationLink
                href={getPageUrl(baseUrl, item)}
                isActive={item === currentPage}
              >
                {item}
              </PaginationLink>
            </PaginationItem>
          ),
        )}

        <PaginationItem>
          {nextUrl ? (
            <PaginationNext
              href={nextUrl}
              text="Next"
              textLocales={nextLabels}
            />
          ) : (
            <span
              class="inline-flex h-8 items-center gap-1.5 px-2.5 text-sm opacity-50"
              data-locales={nextLabels}
            >
              Next
            </span>
          )}
        </PaginationItem>
      </PaginationContent>
    </Pagination>
  )
}
