---
import type { CollectionEntry } from "astro:content";
import AstroTagBadges from "./AstroTagBadges.astro";
import type { TranslateLabel } from "@i18n/labels";
import { CalendarBlankIcon, TagIcon } from "@phosphor-icons/react";
import { formatDateForLocales } from "@lib/date";

type Props = {
  entry: CollectionEntry<"art" | "wiki">;
  translateLabel?: TranslateLabel;
};

const { entry, translateLabel } = Astro.props;
const { data } = entry;

const dateLocales = data.date ? formatDateForLocales(data.date) : undefined;
---

<div class="flex flex-col flex-wrap gap-2">
  {
    data.date && dateLocales && (
      <div class="text-muted-foreground flex items-center gap-2 text-sm">
        <CalendarBlankIcon size={16} className="shrink-0" />
        <time
          datetime={data.date.toISOString()}
          data-locales={JSON.stringify(dateLocales)}
        >
          {dateLocales.en}
        </time>
      </div>
    )
  }

  {
    data.tags && data.tags.length > 0 && translateLabel && (
      <div class="flex flex-wrap items-center gap-2">
        <TagIcon size={16} className="shrink-0 text-muted-foreground" />
        <AstroTagBadges
          tags={data.tags}
          translateLabel={translateLabel}
          className="text-muted-foreground border-muted-foreground"
        />
      </div>
    )
  }
</div>
